/*Examples======================================================*/
.examples {
  padding: 80px 0;
  background-color: #f5e5d7;
}

.examples__header {
  margin-top: 40px;
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
  margin-bottom: 50px;
}

.examples__title {
  font-size: 35px;  
  margin-bottom: 30px;
}
.examples__suptitle {
  font-size: 20px;
  max-width: 80%;
  margin: 0 auto;
}
.examples__inner {
  position: relative;
}
.slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.slider__slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-height: 500px;
}
.slider__slide__img {
  width: 100%;
  height: 100%;
  /* min-height: 400px; */
}

.arrow {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom: 0;
  border-left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#next__arrow {
  right: 1%;
  transform: rotate(45deg);
}

#prev__arrow {
  transform: rotate(-135deg);
  left: 1%;
}

.slider > .slick-dots {
  position: absolute;
  padding: 10px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;  
  /* background: #000; */
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: -9999px;
}

.slider > .slick-dots li {
  cursor: pointer;
  margin-right: 20px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid rgb(133, 80, 80);
  border-radius: 50%;
}

.slider > .slick-dots li.slick-active {
  border: 2px solid rgb(133, 80, 80);
  background: rgb(133, 80, 80);
}

.slider > .slick-dots li:last-child {
  margin-right: 0;
}

.slider__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 17px;
  color: #000;
  z-index: 1000;
}

.slider__slide__img__block {
  position: relative;
  width: 50%;
  height: 100%;
}

.img__before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: #fff;
  padding: 5px 20px;
  font-size: 19px;
  text-align: center;
  width: 100%;
}

.img__after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background: #fff;
  padding: 5px 20px;
  font-size: 19px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1540px) {
}

@media (max-width: 1480px) {
}

@media (max-width: 1080px) {
  .examples {
    padding: 60px 0;
  }
}

@media (max-width: 790px) {
  .examples {
    padding: 40px 0;
  }
  
  .examples__title {
    font-size: 30px;  
  }

  .examples__suptitle {
    font-size: 16px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .slider__inner {
    flex-wrap: wrap;
  }

  .arrow {
    display: none !important;
  }

  .img__after {
    font-size: 15px;
    padding: 2px 5px;
  }

  .img__before {
    font-size: 15px;
    padding: 2px 5px;
  }
  
  .slider > .slick-dots {
    bottom: 0;
  }

  .slider > .slick-dots li {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 540px) {
  .examples__header {
    max-width: 90%;
  }
}

@media (max-width: 460px) {
  .examples {
    padding: 20px 0;
  }
}

@media (max-width: 360px) {
  .slider__slide__img {
    /* width: 50%;
    height: 100%;
    min-height: 200px; */
  }
}